<!DOCTYPE html>
<html>
    <head>
        <title>Ask me anything</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">
                🧠 Ask me anything
            </a>
        </nav>
        
        <div class="container ml-3">
            
            <form method="POST" action="/submit" style="margin-top: 20px;">
                <div class="form-group">
                    <label for="text">Enter a question:</label>
                    <textarea class="form-control" id="text" name="text" rows="5" style="height: 100px;"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>


            <div id="result" style="margin-top: 20px;">{{ result }}</div>
            </div>
            </body>
            </html>
